<h1>Invoice for Renting</h1>
<p>Payment ID: <%= transactionId %></p>
<p>Customer Name: <%= userName %></p>
<p>Item: <%= itemTitle %></p>
<p>Owner: <%= ownerName %></p>
<p>Rental Period: <%= startDate %> to <%= endDate %></p>
<p>Order Date: <%= orderDate %></p>
<p>Thank you for your order!</p>